* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #7ed957, #9DD0D1);
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form .title {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 35px;
}

form fieldset {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
form fieldset label {
    padding: 80px;
}

form label {
    text-align: left;
}
form label .name {
    padding-top: 7px;
}

form input {
    padding-bottom: 12px;
}

form button {
    color: #000000;
    border: none;
    background: linear-gradient(to right, #7ed957, #9DD0D1);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}
